In [1]:
import datetime

In [2]:
datetime.date.today()

datetime.date(2019, 9, 5)

In [3]:
# to display it like a proper calendar date, wrap it within print( )
print(datetime.date.today())

2019-09-05

### 1. Extract day, month and year from date values

In [4]:
dt = datetime.date(2019, 10, 20)
print(dt)

2019-10-20

In [5]:
dt.day
20

20

In [6]:
dt.month

10

In [7]:
dt.year

2019

### 2. Customize Datetime Formats

* customize the format of dates by defining the date formats using strftime method. It converts date objects to strings.

* popular format codes:
```
%d refers to day of the month. In 20-10-2019, %d returns 20.
%m refers to month of the year. In 20-10-2019, %m returns 10.
%Y refers to year. The letter 'Y' is in upper case. In 20-10-2019, %Y returns 2019.
%y refers to year in two-digit format. In 20-10-2019, %y returns 19.
%a returns the first three letter of the weekday Sun
%A returns the complete name of the weekday Sunday
%b returns the first three letters of the month Oct
%B returns the complete name of the month October
```

In [8]:
dt.strftime("%d/%m/%Y")

'20/10/2019'

In [9]:
dt.strftime("%b %d, %Y")

'Oct 20, 2019'

In [10]:
dt.strftime("%B %d, %Y")

'October 20, 2019'

In [11]:
dt.strftime("%a %B %d, %Y")

'Sun October 20, 2019'

In [12]:
dt.strftime("%A %B %d, %Y")

'Sunday October 20, 2019'

In [13]:
dt.strftime("%A, %B %d, %Y")

'Sunday, October 20, 2019'

### 3. Time format

```
%I converts 24 hour time format to 12 hour format.
%p returns AM PM based on time values.
%H returns hours of the time value.
%M returns minutes of the time value.
%S returns seconds of the time value.
```

In [14]:
now = datetime.datetime.now()
print(now)

2019-09-05 22:20:59.247495

In [15]:
now.hour

22

In [16]:
now.minute

20

In [17]:
now.second

59

* %c represents locale date and time. %X represents locale time.

In [18]:
now.strftime("%c")

'Thu Sep  5 22:20:59 2019'

In [19]:
now.strftime("%A %B %d %X")

'Thursday September 05 22:20:59'

In [20]:
now.strftime("%A %B %d %H:%M")

'Thursday September 05 22:20'

###  4. datetime object

In [21]:
dt = datetime.datetime(2019, 9, 20, 10, 51, 0)
print(dt)

2019-09-20 10:51:00

In [22]:
dt.strftime('%d-%m-%Y %H-%M')

'20-09-2019 10-51'

In [23]:
dt.strftime('%c')

'Fri Sep 20 10:51:00 2019'

In [24]:
#get current time
dt.time()

datetime.time(10, 51)

In [25]:
#get current day of the week, 1 for Monday and 7 for Sunday.
dt.isoweekday()

5

In [26]:
# alternatively, use weekday() method,  0 for Monday and 6 for Sunday.
dt.weekday()

4

### 5. Timedelta 
* add or subtract days, weeks, hours, minutes, seconds, microseconds and milliseconds

In [27]:
#30 days ahead
delta = datetime.timedelta(days=30)
print(dt + delta)

2019-10-20 10:51:00

In [28]:
#30 days back
print(dt - delta)

2019-08-21 10:51:00

In [29]:
delta = datetime.timedelta(days= 10, hours=3, minutes=30, seconds=30)
print(dt + delta)

2019-09-30 14:21:30

In [30]:
delta = datetime.timedelta(weeks= 4, hours=3, minutes=30, seconds=30)
print(dt + delta)

2019-10-18 14:21:30

* In timedelta, months and years options are missing which means you cannot calculate future dates increment by month(s) or year(s). To accomplish this task, we can use __dateutil__ package.

In [31]:
from dateutil.relativedelta import *

In [32]:
#1 Month ahead
print(dt + relativedelta(months=+1))

2019-10-20 10:51:00

In [33]:
#1 Month Back
print(dt + relativedelta(months=-1))

2019-08-20 10:51:00

In [34]:
#Next month, plus one week
print(dt + relativedelta(months=+1, weeks=+1))

2019-10-27 10:51:00

In [35]:
#Next Year
print(dt + relativedelta(years=+1))

2020-09-20 10:51:00

In [36]:
# leap year situation
print(datetime.date(2000, 2, 29)+ relativedelta(years=+1))

2001-02-28

In [37]:
# difference between two dates
dt1 = datetime.date(2020, 10, 25)
dt2 = datetime.date(2019, 12, 25)
diff = dt1- dt2
diff.days

305

In [38]:
# the number of months between two dates
dt1.month - dt2.month + 12*(dt1.year - dt2.year)

10

### 6. datetime objects on pandas dataframe

In [39]:
import pandas

In [40]:
# create a sample dataframe 
df = pandas.DataFrame({"A":["2019-01-01", "2019-05-03", "2019-07-03"],
                 "B":["2019-03-02", "2019-08-01", "2019-10-01"] })

In [41]:
df.dtypes

A    object
B    object
dtype: object

In [42]:
# convert the columns to datetime object since these variables are stored in string.
df['A'] = pandas.to_datetime(df['A'])
df['B'] = pandas.to_datetime(df['B'])

In [43]:
df.dtypes

A    datetime64[ns]
B    datetime64[ns]
dtype: object

In [44]:
df['C'] = df['B'] - df['A']
print(df)

           A          B       C
0 2019-01-01 2019-03-02 60 days
1 2019-05-03 2019-08-01 90 days
2 2019-07-03 2019-10-01 90 days

In [45]:
#dt enables pandas to use datetime methods.
df['C'] = (df['B'] - df['A']).dt.days
df

           A          B   C
0 2019-01-01 2019-03-02  60
1 2019-05-03 2019-08-01  90
2 2019-07-03 2019-10-01  90

In [46]:
# Get 3 months past datetime

df['D'] = df["B"].apply(lambda x: x - relativedelta(months=3))
df

           A          B   C          D
0 2019-01-01 2019-03-02  60 2018-12-02
1 2019-05-03 2019-08-01  90 2019-05-01
2 2019-07-03 2019-10-01  90 2019-07-01

Another way is to use built-in function __DateOffset__ of pandas package which adds or subtracts days, months, years, weeks, hours, minutes, seconds, microseconds and nanoseconds.

In [47]:
df['D1'] = df['B'] - pandas.DateOffset(months=3)
df

           A          B   C          D         D1
0 2019-01-01 2019-03-02  60 2018-12-02 2018-12-02
1 2019-05-03 2019-08-01  90 2019-05-01 2019-05-01
2 2019-07-03 2019-10-01  90 2019-07-01 2019-07-01

### 7. work with different timezones

In [48]:
# all timezone names
import pytz
pytz.all_timezones

['Africa/Abidjan', 'Africa/Accra', 'Africa/Addis_Ababa', 'Africa/Algiers', 'Africa/Asmara', 'Africa/Asmera', 'Africa/Bamako', 'Africa/Bangui', 'Africa/Banjul', 'Africa/Bissau', 'Africa/Blantyre', 'Africa/Brazzaville', 'Africa/Bujumbura', 'Africa/Cairo', 'Africa/Casablanca', 'Africa/Ceuta', 'Africa/Conakry', 'Africa/Dakar', 'Africa/Dar_es_Salaam', 'Africa/Djibouti', 'Africa/Douala', 'Africa/El_Aaiun', 'Africa/Freetown', 'Africa/Gaborone', 'Africa/Harare', 'Africa/Johannesburg', 'Africa/Juba', 'Africa/Kampala', 'Africa/Khartoum', 'Africa/Kigali', 'Africa/Kinshasa', 'Africa/Lagos', 'Africa/Libreville', 'Africa/Lome', 'Africa/Luanda', 'Africa/Lubumbashi', 'Africa/Lusaka', 'Africa/Malabo', 'Africa/Maputo', 'Africa/Maseru', 'Africa/Mbabane', 'Africa/Mogadishu', 'Africa/Monrovia', 'Africa/Nairobi', 'Africa/Ndjamena', 'Africa/Niamey', 'Africa/Nouakchott', 'Africa/Ouagadougou', 'Africa/Porto-Novo', 'Africa/Sao_Tome', 'Africa/Timbuktu', 'Africa/Tripoli', 'Africa/Tunis', 'Africa/Windhoek', 'America/Adak', 'America/Anchorage', 'America/Anguilla', 'America/Antigua', 'America/Araguaina', 'America/Argentina/Buenos_Aires', 'America/Argentina/Catamarca', 'America/Argentina/ComodRivadavia', 'America/Argentina/Cordoba', 'America/Argentina/Jujuy', 'America/Argentina/La_Rioja', 'America/Argentina/Mendoza', 'America/Argentina/Rio_Gallegos', 'America/Argentina/Salta', 'America/Argentina/San_Juan', 'America/Argentina/San_Luis', 'America/Argentina/Tucuman', 'America/Argentina/Ushuaia', 'America/Aruba', 'America/Asuncion', 'America/Atikokan', 'America/Atka', 'America/Bahia', 'America/Bahia_Banderas', 'America/Barbados', 'America/Belem', 'America/Belize', 'America/Blanc-Sablon', 'America/Boa_Vista', 'America/Bogota', 'America/Boise', 'America/Buenos_Aires', 'America/Cambridge_Bay', 'America/Campo_Grande', 'America/Cancun', 'America/Caracas', 'America/Catamarca', 'America/Cayenne', 'America/Cayman', 'America/Chicago', 'America/Chihuahua', 'America/Coral_Harbour', 'America/Cordoba', 'America/Costa_Rica', 'America/Creston', 'America/Cuiaba', 'America/Curacao', 'America/Danmarkshavn', 'America/Dawson', 'America/Dawson_Creek', 'America/Denver', 'America/Detroit', 'America/Dominica', 'America/Edmonton', 'America/Eirunepe', 'America/El_Salvador', 'America/Ensenada', 'America/Fort_Nelson', 'America/Fort_Wayne', 'America/Fortaleza', 'America/Glace_Bay', 'America/Godthab', 'America/Goose_Bay', 'America/Grand_Turk', 'America/Grenada', 'America/Guadeloupe', 'America/Guatemala', 'America/Guayaquil', 'America/Guyana', 'America/Halifax', 'America/Havana', 'America/Hermosillo', 'America/Indiana/Indianapolis', 'America/Indiana/Knox', 'America/Indiana/Marengo', 'America/Indiana/Petersburg', 'America/Indiana/Tell_City', 'America/Indiana/Vevay', 'America/Indiana/Vincennes', 'America/Indiana/Winamac', 'America/Indianapolis', 'America/Inuvik', 'America/Iqaluit', 'America/Jamaica', 'America/Jujuy', 'America/Juneau', 'America/Kentucky/Louisville', 'America/Kentucky/Monticello', 'America/Knox_IN', 'America/Kralendijk', 'America/La_Paz', 'America/Lima', 'America/Los_Angeles', 'America/Louisville', 'America/Lower_Princes', 'America/Maceio', 'America/Managua', 'America/Manaus', 'America/Marigot', 'America/Martinique', 'America/Matamoros', 'America/Mazatlan', 'America/Mendoza', 'America/Menominee', 'America/Merida', 'America/Metlakatla', 'America/Mexico_City', 'America/Miquelon', 'America/Moncton', 'America/Monterrey', 'America/Montevideo', 'America/Montreal', 'America/Montserrat', 'America/Nassau', 'America/New_York', 'America/Nipigon', 'America/Nome', 'America/Noronha', 'America/North_Dakota/Beulah', 'America/North_Dakota/Center', 'America/North_Dakota/New_Salem', 'America/Ojinaga', 'America/Panama', 'America/Pangnirtung', 'America/Paramaribo', 'America/Phoenix', 'America/Port-au-Prince', 'America/Port_of_Spain', 'America/Porto_Acre', 'America/Porto_Velho', 'America/Puerto_Rico', 'America/Punta_Arenas', 'America/Rainy_River', 'America/Rankin_Inlet', 'America/Recife', 'America/Regina', 'America/Resolute', 'America/Rio_Branco', 'America/Rosario', 'America/Santa_Isabel', 'America/Santarem', 'America/Santiago', 'America/Santo_Domingo', 'America/Sao_Paulo', 'America/Scoresbysund', 'America/Shiprock', 'America/Sitka', 'America/St_Barthelemy', 'America/St_Johns', 'America/St_Kitts', 'America/St_Lucia', 'America/St_Thomas', 'America/St_Vincent', 'America/Swift_Current', 'America/Tegucigalpa', 'America/Thule', 'America/Thunder_Bay', 'America/Tijuana', 'America/Toronto', 'America/Tortola', 'America/Vancouver', 'America/Virgin', 'America/Whitehorse', 'America/Winnipeg', 'America/Yakutat', 'America/Yellowknife', 'Antarctica/Casey', 'Antarctica/Davis', 'Antarctica/DumontDUrville', 'Antarctica/Macquarie', 'Antarctica/Mawson', 'Antarctica/McMurdo', 'Antarctica/Palmer', 'Antarctica/Rothera', 'Antarctica/South_Pole', 'Antarctica/Syowa', 'Antarctica/Troll', 'Antarctica/Vostok', 'Arctic/Longyearbyen', 'Asia/Aden', 'Asia/Almaty', 'Asia/Amman', 'Asia/Anadyr', 'Asia/Aqtau', 'Asia/Aqtobe', 'Asia/Ashgabat', 'Asia/Ashkhabad', 'Asia/Atyrau', 'Asia/Baghdad', 'Asia/Bahrain', 'Asia/Baku', 'Asia/Bangkok', 'Asia/Barnaul', 'Asia/Beirut', 'Asia/Bishkek', 'Asia/Brunei', 'Asia/Calcutta', 'Asia/Chita', 'Asia/Choibalsan', 'Asia/Chongqing', 'Asia/Chungking', 'Asia/Colombo', 'Asia/Dacca', 'Asia/Damascus', 'Asia/Dhaka', 'Asia/Dili', 'Asia/Dubai', 'Asia/Dushanbe', 'Asia/Famagusta', 'Asia/Gaza', 'Asia/Harbin', 'Asia/Hebron', 'Asia/Ho_Chi_Minh', 'Asia/Hong_Kong', 'Asia/Hovd', 'Asia/Irkutsk', 'Asia/Istanbul', 'Asia/Jakarta', 'Asia/Jayapura', 'Asia/Jerusalem', 'Asia/Kabul', 'Asia/Kamchatka', 'Asia/Karachi', 'Asia/Kashgar', 'Asia/Kathmandu', 'Asia/Katmandu', 'Asia/Khandyga', 'Asia/Kolkata', 'Asia/Krasnoyarsk', 'Asia/Kuala_Lumpur', 'Asia/Kuching', 'Asia/Kuwait', 'Asia/Macao', 'Asia/Macau', 'Asia/Magadan', 'Asia/Makassar', 'Asia/Manila', 'Asia/Muscat', 'Asia/Nicosia', 'Asia/Novokuznetsk', 'Asia/Novosibirsk', 'Asia/Omsk', 'Asia/Oral', 'Asia/Phnom_Penh', 'Asia/Pontianak', 'Asia/Pyongyang', 'Asia/Qatar', 'Asia/Qyzylorda', 'Asia/Rangoon', 'Asia/Riyadh', 'Asia/Saigon', 'Asia/Sakhalin', 'Asia/Samarkand', 'Asia/Seoul', 'Asia/Shanghai', 'Asia/Singapore', 'Asia/Srednekolymsk', 'Asia/Taipei', 'Asia/Tashkent', 'Asia/Tbilisi', 'Asia/Tehran', 'Asia/Tel_Aviv', 'Asia/Thimbu', 'Asia/Thimphu', 'Asia/Tokyo', 'Asia/Tomsk', 'Asia/Ujung_Pandang', 'Asia/Ulaanbaatar', 'Asia/Ulan_Bator', 'Asia/Urumqi', 'Asia/Ust-Nera', 'Asia/Vientiane', 'Asia/Vladivostok', 'Asia/Yakutsk', 'Asia/Yangon', 'Asia/Yekaterinburg', 'Asia/Yerevan', 'Atlantic/Azores', 'Atlantic/Bermuda', 'Atlantic/Canary', 'Atlantic/Cape_Verde', 'Atlantic/Faeroe', 'Atlantic/Faroe', 'Atlantic/Jan_Mayen', 'Atlantic/Madeira', 'Atlantic/Reykjavik', 'Atlantic/South_Georgia', 'Atlantic/St_Helena', 'Atlantic/Stanley', 'Australia/ACT', 'Australia/Adelaide', 'Australia/Brisbane', 'Australia/Broken_Hill', 'Australia/Canberra', 'Australia/Currie', 'Australia/Darwin', 'Australia/Eucla', 'Australia/Hobart', 'Australia/LHI', 'Australia/Lindeman', 'Australia/Lord_Howe', 'Australia/Melbourne', 'Australia/NSW', 'Australia/North', 'Australia/Perth', 'Australia/Queensland', 'Australia/South', 'Australia/Sydney', 'Australia/Tasmania', 'Australia/Victoria', 'Australia/West', 'Australia/Yancowinna', 'Brazil/Acre', 'Brazil/DeNoronha', 'Brazil/East', 'Brazil/West', 'CET', 'CST6CDT', 'Canada/Atlantic', 'Canada/Central', 'Canada/Eastern', 'Canada/Mountain', 'Canada/Newfoundland', 'Canada/Pacific', 'Canada/Saskatchewan', 'Canada/Yukon', 'Chile/Continental', 'Chile/EasterIsland', 'Cuba', 'EET', 'EST', 'EST5EDT', 'Egypt', 'Eire', 'Etc/GMT', 'Etc/GMT+0', 'Etc/GMT+1', 'Etc/GMT+10', 'Etc/GMT+11', 'Etc/GMT+12', 'Etc/GMT+2', 'Etc/GMT+3', 'Etc/GMT+4', 'Etc/GMT+5', 'Etc/GMT+6', 'Etc/GMT+7', 'Etc/GMT+8', 'Etc/GMT+9', 'Etc/GMT-0', 'Etc/GMT-1', 'Etc/GMT-10', 'Etc/GMT-11', 'Etc/GMT-12', 'Etc/GMT-13', 'Etc/GMT-14', 'Etc/GMT-2', 'Etc/GMT-3', 'Etc/GMT-4', 'Etc/GMT-5', 'Etc/GMT-6', 'Etc/GMT-7', 'Etc/GMT-8', 'Etc/GMT-9', 'Etc/GMT0', 'Etc/Greenwich', 'Etc/UCT', 'Etc/UTC', 'Etc/Universal', 'Etc/Zulu', 'Europe/Amsterdam', 'Europe/Andorra', 'Europe/Astrakhan', 'Europe/Athens', 'Europe/Belfast', 'Europe/Belgrade', 'Europe/Berlin', 'Europe/Bratislava', 'Europe/Brussels', 'Europe/Bucharest', 'Europe/Budapest', 'Europe/Busingen', 'Europe/Chisinau', 'Europe/Copenhagen', 'Europe/Dublin', 'Europe/Gibraltar', 'Europe/Guernsey', 'Europe/Helsinki', 'Europe/Isle_of_Man', 'Europe/Istanbul', 'Europe/Jersey', 'Europe/Kaliningrad', 'Europe/Kiev', 'Europe/Kirov', 'Europe/Lisbon', 'Europe/Ljubljana', 'Europe/London', 'Europe/Luxembourg', 'Europe/Madrid', 'Europe/Malta', 'Europe/Mariehamn', 'Europe/Minsk', 'Europe/Monaco', 'Europe/Moscow', 'Europe/Nicosia', 'Europe/Oslo', 'Europe/Paris', 'Europe/Podgorica', 'Europe/Prague', 'Europe/Riga', 'Europe/Rome', 'Europe/Samara', 'Europe/San_Marino', 'Europe/Sarajevo', 'Europe/Saratov', 'Europe/Simferopol', 'Europe/Skopje', 'Europe/Sofia', 'Europe/Stockholm', 'Europe/Tallinn', 'Europe/Tirane', 'Europe/Tiraspol', 'Europe/Ulyanovsk', 'Europe/Uzhgorod', 'Europe/Vaduz', 'Europe/Vatican', 'Europe/Vienna', 'Europe/Vilnius', 'Europe/Volgograd', 'Europe/Warsaw', 'Europe/Zagreb', 'Europe/Zaporozhye', 'Europe/Zurich', 'GB', 'GB-Eire', 'GMT', 'GMT+0', 'GMT-0', 'GMT0', 'Greenwich', 'HST', 'Hongkong', 'Iceland', 'Indian/Antananarivo', 'Indian/Chagos', 'Indian/Christmas', 'Indian/Cocos', 'Indian/Comoro', 'Indian/Kerguelen', 'Indian/Mahe', 'Indian/Maldives', 'Indian/Mauritius', 'Indian/Mayotte', 'Indian/Reunion', 'Iran', 'Israel', 'Jamaica', 'Japan', 'Kwajalein', 'Libya', 'MET', 'MST', 'MST7MDT', 'Mexico/BajaNorte', 'Mexico/BajaSur', 'Mexico/General', 'NZ', 'NZ-CHAT', 'Navajo', 'PRC', 'PST8PDT', 'Pacific/Apia', 'Pacific/Auckland', 'Pacific/Bougainville', 'Pacific/Chatham', 'Pacific/Chuuk', 'Pacific/Easter', 'Pacific/Efate', 'Pacific/Enderbury', 'Pacific/Fakaofo', 'Pacific/Fiji', 'Pacific/Funafuti', 'Pacific/Galapagos', 'Pacific/Gambier', 'Pacific/Guadalcanal', 'Pacific/Guam', 'Pacific/Honolulu', 'Pacific/Johnston', 'Pacific/Kiritimati', 'Pacific/Kosrae', 'Pacific/Kwajalein', 'Pacific/Majuro', 'Pacific/Marquesas', 'Pacific/Midway', 'Pacific/Nauru', 'Pacific/Niue', 'Pacific/Norfolk', 'Pacific/Noumea', 'Pacific/Pago_Pago', 'Pacific/Palau', 'Pacific/Pitcairn', 'Pacific/Pohnpei', 'Pacific/Ponape', 'Pacific/Port_Moresby', 'Pacific/Rarotonga', 'Pacific/Saipan', 'Pacific/Samoa', 'Pacific/Tahiti', 'Pacific/Tarawa', 'Pacific/Tongatapu', 'Pacific/Truk', 'Pacific/Wake', 'Pacific/Wallis', 'Pacific/Yap', 'Poland', 'Portugal', 'ROC', 'ROK', 'Singapore', 'Turkey', 'UCT', 'US/Alaska', 'US/Aleutian', 'US/Arizona', 'US/Central', 'US/East-Indiana', 'US/Eastern', 'US/Hawaii', 'US/Indiana-Starke', 'US/Michigan', 'US/Mountain', 'US/Pacific', 'US/Samoa', 'UTC', 'Universal', 'W-SU', 'WET', 'Zulu']

In [49]:
# set datetime object in a particular timezone,  use the parameter called tzinfo for this.
dt = datetime.datetime(2019, 7, 20, 10, 10, 0, tzinfo=pytz.timezone('Asia/Seoul'))
print(dt)

2019-07-20 10:10:00+08:28

In [50]:
#convert it to US/Arizona timezone, we can use the method called astimezone for conversion. 
print(dt.astimezone(pytz.timezone('US/Arizona')))

2019-07-19 18:42:00-07:00

### 8.  Converting days to seconds, and other basic time conversions

In [51]:
# to represent an interval of time, create a timedelta instance
a = datetime.timedelta(days=2, hours=6)
b = datetime.timedelta(hours=4.5)

In [52]:
c = a+b
c.days

2

In [53]:
c.seconds

37800

In [54]:
c.seconds / 3600

10.5

In [55]:
c.total_seconds()/3600

58.5

### 9. Determining last Friday’s date

In [56]:
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday',
            'Friday', 'Saturday', 'Sunday']

In [57]:
def get_previous_byday(dayname, start_date=None):
    
    if start_date is None:
        start_date = datetime.datetime.today()
    
    day_num = start_date.weekday()
    day_num_target = weekdays.index(dayname)
    days_ago = (7 + day_num - day_num_target) % 7
    
    if days_ago == 0:
        days_ago = 7
    
    target_date = start_date - datetime.timedelta(days=days_ago)
    
    return target_date

In [58]:
datetime.datetime.today()

datetime.datetime(2019, 9, 5, 22, 21, 1, 219875)

In [59]:
get_previous_byday('Monday')

datetime.datetime(2019, 9, 2, 22, 21, 1, 232696)

In [60]:
get_previous_byday('Friday') # Previous week

datetime.datetime(2019, 8, 30, 22, 21, 1, 245923)

In [61]:
get_previous_byday('Sunday', datetime.datetime(2019, 8, 31))

datetime.datetime(2019, 8, 25, 0, 0)

* using the __relativedelta()__ function from __dateutil__

In [62]:
from dateutil.rrule import *

In [63]:
print(now)

2019-09-05 22:20:59.247495

In [64]:
 # Next Friday
print(now + relativedelta(weekday=FR))

2019-09-06 22:20:59.247495

In [65]:
# Last Friday
print(now + relativedelta(weekday=FR(-1)))

2019-08-30 22:20:59.247495

### 10. Converting strings into datetimes

In [66]:
text = '2019-09-20'
y = datetime.datetime.strptime(text, '%Y-%m-%d')
z = datetime.datetime.now()

In [67]:
diff = y - z 
diff

datetime.timedelta(days=14, seconds=5938, microseconds=673511)

In [68]:
nice_z = datetime.datetime.strftime(z, '%A %B %d, %Y')
nice_z

'Thursday September 05, 2019'

### 11. Finding the date range for the current month

* the __calendar.monthrange()__ function is used to find out how many days are in a month

In [70]:
import calendar

In [76]:
# monthrange(year, month) returns weekday (0-6 ~ Mon-Sun) and number of days (28-31) for year, month.
calendar.monthrange(2019,8)

(3, 31)

In [74]:
def get_month_range(start_date=None): 
    
    if start_date is None:
        start_date = datetime.date.today().replace(day=1)
    
    _, days_in_month = calendar.monthrange(start_date.year, start_date.month)
    end_date = start_date + datetime.timedelta(days=days_in_month)
    
    return (start_date, end_date)

In [75]:
three_days = datetime.timedelta(days=3)
first_day, last_day = get_month_range() 

while first_day < last_day:
    print(first_day)
    first_day += three_days

2019-09-01
2019-09-04
2019-09-07
2019-09-10
2019-09-13
2019-09-16
2019-09-19
2019-09-22
2019-09-25
2019-09-28

In [78]:
# alternatively, using built-in range function to implement generator
def date_range(start, stop, step): 
    while start < stop:
        yield start 
        start += step

In [79]:
for d in date_range(datetime.datetime(2019, 9, 1), 
                    datetime.datetime(2019,10,1), 
                    datetime.timedelta(hours=72)):
    print(d)

2019-09-01 00:00:00
2019-09-04 00:00:00
2019-09-07 00:00:00
2019-09-10 00:00:00
2019-09-13 00:00:00
2019-09-16 00:00:00
2019-09-19 00:00:00
2019-09-22 00:00:00
2019-09-25 00:00:00
2019-09-28 00:00:00