### PandaSQL

* Pandas has a few SQL extension such as pandasql a library that allows to perform SQL queries on top of data-frames. Through pandasql the data-frame object can be queried directly as if they were database tables.

In [1]:
import pandas

In [2]:
import pandasql

In [3]:
pysql = lambda q: pandasql.sqldf(q, globals())

In [4]:
df = pandas.DataFrame([[1,2],[3,4],[5,6]], columns=['uid','test'])
df

   uid  test
0    1     2
1    3     4
2    5     6

In [5]:
pysql("SELECT uid, (test/2) as new_val\
      FROM df")

   uid  new_val
0    1        1
1    3        2
2    5        3

### SQLAlchemy

* Pandas also is built up on top of SQL Alchemy to interface with databases, as such it is able to download datasets from diverse SQL type of databases as well as push records to it. Using the SQL Alchemy interface rather than the Pandasâ€™ API directly allows us to do certain operations not natively supported within pandas such as transactions or upserts.

In [6]:
import sqlalchemy

In [7]:
import numpy

In [8]:
import sqlite3

In [9]:
engine = sqlalchemy.create_engine('sqlite:///',echo=False)

In [10]:
df1 = pandas.DataFrame({'col1':numpy.arange(0,3),'col2':['a','b','c']})
df2 = pandas.DataFrame({'col1':[4],'col2':['d']})
 
with engine.connect() as conn:
    df1.to_sql(name= 'test1', con=conn , if_exists='replace', index=False)
    df2.to_sql(name= 'test1', con=conn , if_exists='append', index=False)
 
print(pandas.read_sql(sql=sqlalchemy.text('select * from test1'), con = engine))

   col1 col2
0     0    a
1     1    b
2     2    c
3     4    d


* Pandas can also make use of SQL transactions, handling commits and rollbacks. Pandas could take advantage of transactions through a SQL alchemy context manager. the advantage of using a SQL transaction, is the fact that the transaction would roll back should the data load fail.