In [1]:
import pandas as pd
import numpy as np

In [2]:
## Create dummy dataframe

raw_data = {'name': ['Willard Morris', 'Al Jennings', 'Omar Mullins', 'Spencer McDaniel'],
                      'age': [20, 19, 22, 21],
                      'favorite_color': ['blue', 'blue', 'yellow', "green"],
                      'test_one': [88, 92, 95, 70],
                      'test_two': [78, 100, 90, 85]}
df = pd.DataFrame(raw_data)
df

   age favorite_color              name  test_one  test_two
0   20           blue    Willard Morris        88        78
1   19           blue       Al Jennings        92       100
2   22         yellow      Omar Mullins        95        90
3   21          green  Spencer McDaniel        70        85

## Iterate over column name / series pairs

In [6]:
for col_idx, data in df.iteritems():
    print "column:", col_idx
    print "column data:"
    print data,"\n"

column: age
column data:
0    20
1    19
2    22
3    21
Name: age, dtype: int64

column: favorite_color
column data:
0      blue
1      blue
2    yellow
3     green
Name: favorite_color, dtype: object

column: name
column data:
0      Willard Morris
1         Al Jennings
2        Omar Mullins
3    Spencer McDaniel
Name: name, dtype: object

column: test_one
column data:
0    88
1    92
2    95
3    70
Name: test_one, dtype: int64

column: test_two
column data:
0     78
1    100
2     90
3     85
Name: test_two, dtype: int64

## Iterate over rows producing data series

In [8]:
for i, row in df.iterrows():
    print "row:", i
    print "row data:"
    print row, "\n"

row: 0
row data:
age                           20
favorite_color              blue
name              Willard Morris
test_one                      88
test_two                      78
Name: 0, dtype: object

row: 1
row data:
age                        19
favorite_color           blue
name              Al Jennings
test_one                   92
test_two                  100
Name: 1, dtype: object

row: 2
row data:
age                         22
favorite_color          yellow
name              Omar Mullins
test_one                    95
test_two                    90
Name: 2, dtype: object

row: 3
row data:
age                             21
favorite_color               green
name              Spencer McDaniel
test_one                        70
test_two                        85
Name: 3, dtype: object

## Iterate over rows producing tuples

In [10]:
for row in df.itertuples():
    print row

Pandas(Index=0, age=20, favorite_color='blue', name='Willard Morris', test_one=88, test_two=78)
Pandas(Index=1, age=19, favorite_color='blue', name='Al Jennings', test_one=92, test_two=100)
Pandas(Index=2, age=22, favorite_color='yellow', name='Omar Mullins', test_one=95, test_two=90)
Pandas(Index=3, age=21, favorite_color='green', name='Spencer McDaniel', test_one=70, test_two=85)