In [1]:
import pandas as pd
import numpy as np

In [20]:
# create dummy dataframe

raw_data = {'name': ['Willard Morris', 'Al Jennings', 'Omar Mullins', 'Spencer McDaniel'],
        'age': [20, 19, 22, 21],
        'favorite_color': ['blue', 'red', 'yellow', "green"],
        'grade': [88, 92, 95, 70]}
df = pd.DataFrame(raw_data, index = ['Willard Morris', 'Al Jennings', 'Omar Mullins', 'Spencer McDaniel'])
df

                  age favorite_color  grade              name
Willard Morris     20           blue     88    Willard Morris
Al Jennings        19            red     92       Al Jennings
Omar Mullins       22         yellow     95      Omar Mullins
Spencer McDaniel   21          green     70  Spencer McDaniel

## Renaming Columns

In [16]:
## rename a bunch of columns

df.columns = ['test_age', 'test_favorite_color','test_grade', 'test_name']
df.head()

                  test_age test_favorite_color  test_grade         test_name
Willard Morris          20                blue          88    Willard Morris
Al Jennings             19                 red          92       Al Jennings
Omar Mullins            22              yellow          95      Omar Mullins
Spencer McDaniel        21               green          70  Spencer McDaniel

In [22]:
## rename a specific column

df.rename(columns={'test_age': 'is_just_a_number'}, inplace=True)
df.head()

                  age favorite_color  grade              name
Willard Morris     20           blue     88    Willard Morris
Al Jennings        19            red     92       Al Jennings
Omar Mullins       22         yellow     95      Omar Mullins
Spencer McDaniel   21          green     70  Spencer McDaniel

## Resetting index after dropping rows

In [28]:
## Create dummy dataframe

raw_data = {'name': ['Willard Morris', 'Al Jennings', 'Omar Mullins', 'Spencer McDaniel'],
                      'age': [20, 19, 22, 21],
                      'favorite_color': ['blue', 'blue', 'yellow', "green"],
                      'test_one': [88, 92, 95, 70],
                      'test_two': [78, 100, 90, 85]}
df = pd.DataFrame(raw_data)
df

   age favorite_color              name  test_one  test_two
0   20           blue    Willard Morris        88        78
1   19           blue       Al Jennings        92       100
2   22         yellow      Omar Mullins        95        90
3   21          green  Spencer McDaniel        70        85

In [29]:
df.drop(1)

   age favorite_color              name  test_one  test_two
0   20           blue    Willard Morris        88        78
2   22         yellow      Omar Mullins        95        90
3   21          green  Spencer McDaniel        70        85

In [30]:
df.reset_index(drop=True)

   age favorite_color              name  test_one  test_two
0   20           blue    Willard Morris        88        78
1   19           blue       Al Jennings        92       100
2   22         yellow      Omar Mullins        95        90
3   21          green  Spencer McDaniel        70        85