In [25]:
import pandas as pd
import numpy as np

In [3]:
%qtconsole

In [38]:
# create dummy dataframe

raw_data = {'name': ['Willard Morris', 'Al Jennings', 'Omar Mullins', 'Spencer McDaniel'],
        'age': [20, 19, 22, 21],
        'favorite_color': ['blue', 'red', 'yellow', "green"],
        'grade': [88, 92, 95, 70]}
df = pd.DataFrame(raw_data, index = ['Willard Morris', 'Al Jennings', 'Omar Mullins', 'Spencer McDaniel'])
df

                  age favorite_color  grade              name
Willard Morris     20           blue     88    Willard Morris
Al Jennings        19            red     92       Al Jennings
Omar Mullins       22         yellow     95      Omar Mullins
Spencer McDaniel   21          green     70  Spencer McDaniel

##  Dropping Rows

In [35]:
# drop a row by index name

df.drop(['Willard Morris', 'Al Jennings'])
df

                  age favorite_color  grade              name
Willard Morris     20           blue     88    Willard Morris
Al Jennings        19            red     92       Al Jennings
Omar Mullins       22         yellow     95      Omar Mullins
Spencer McDaniel   21          green     70  Spencer McDaniel

In [ ]:
# drop a row by index number

df.drop(df.index[0], inplace=True)
df

In [31]:
# drop first 2 rows (put ':' to left of # to drop last X rows)

df.drop(df.index[:2],inplace=True)
df

                  age favorite_color  grade              name
Spencer McDaniel   21          green     70  Spencer McDaniel

## Dropping Columns

In [32]:
# dropping column by name

df.drop(['age'], axis = 1, inplace = True)
df

                 favorite_color  grade              name
Spencer McDaniel          green     70  Spencer McDaniel

## Adding Columns

In [44]:
## Create dummy dataframe

raw_data = {'name': ['Willard Morris', 'Al Jennings', 'Omar Mullins', 'Spencer McDaniel'],
                      'age': [20, 19, 22, 21],
                      'favorite_color': ['blue', 'blue', 'yellow', "green"],
                      'test_one': [88, 92, 95, 70],
                      'test_two': [78, 100, 90, 85]}
df = pd.DataFrame(raw_data)
df

   age favorite_color              name  test_one  test_two
0   20           blue    Willard Morris        88        78
1   19           blue       Al Jennings        92       100
2   22         yellow      Omar Mullins        95        90
3   21          green  Spencer McDaniel        70        85

In [45]:
df['test_average'] = (df.test_one + df.test_two)/2
df.head()

   age favorite_color              name  test_one  test_two  test_average
0   20           blue    Willard Morris        88        78          83.0
1   19           blue       Al Jennings        92       100          96.0
2   22         yellow      Omar Mullins        95        90          92.5
3   21          green  Spencer McDaniel        70        85          77.5