In [3]:
# Load libraries

import pandas as pd
import numpy as np

In [6]:
# Create date
time_index = pd.date_range('01/01/2017', periods=5, freq='M')

# Create data frame, set index
df = pd.DataFrame(index=time_index)

# Create feature with a gap of missing values

df['sales']=[1.0,2.0,np.nan,np.nan,5.0]

In [7]:
# Interpolate missing values
df.interpolate()

            sales
2017-01-31    1.0
2017-02-28    2.0
2017-03-31    3.0
2017-04-30    4.0
2017-05-31    5.0

In [9]:
# Forward-fill
df.ffill()

            sales
2017-01-31    1.0
2017-02-28    2.0
2017-03-31    2.0
2017-04-30    2.0
2017-05-31    5.0

In [11]:
# Back-fill
df.bfill()

            sales
2017-01-31    1.0
2017-02-28    2.0
2017-03-31    5.0
2017-04-30    5.0
2017-05-31    5.0

In [12]:
# Interpolate missing values
df.interpolate(limit=1, limit_direction='forward')

            sales
2017-01-31    1.0
2017-02-28    2.0
2017-03-31    3.0
2017-04-30    NaN
2017-05-31    5.0